*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url("pexels-pixabay-531880.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.resultBlock{
    width: 20rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
}
.operationBlock{
    width: 20rem;
    height: 30rem;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.inputBlock, .selectBlock{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.selectBlock{
    margin-top: 0.5rem;
}
.inputTask,.selectOption{
    width: 15rem;
    height: 2.5rem;
    padding: 10px 10px;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgb(167, 158, 158);
    color:white;
}
.selectOption option{
    background-color: black;
}
button{
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: none;
    border: 1px solid rgb(167, 158, 158);
    transition: 0.3s;
}
button:hover{
    background-color: blueviolet;
    border: none;
}
button:active{
    background-color: blue;
}
.high{
    background-color: red;
    text-align: center;
    height: 3rem;
    width: 90%;
    color: white;
}
.low{
    background-color: gray;
    text-align: center;
    height: 3rem;
    width: 90%;
    color: white;
}